a {
    color: #0815d1fe;
}
.adres p {
    color:#030430;
}
body{
    background-color: rgb(220, 198, 250);
}
button {
    background-color: rgb(24, 157, 240);
}
footer {
    font-size: unset;
    }
.header {
        background-color: #afd6fafe;
    }
.header-h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
         text-align: center;
         border: 1px solid;
        color: rgb(2, 2, 141);
    }
.header-h2 {
        color: rgb(30, 30, 207);
        border-style: outset;
        position: center;
        text-align: center;
    }
.header-h3 {
        color: rgb(12, 12, 245);
        margin: 30px;
        border: 1px solid;
    }
img {
        position: initial;
    }
li {
        color:#045daa;
    }
nav a {
        color: rgb(24, 4, 136);
        font-weight: 900;
    }
p  {
    background-color: rgb(200, 189, 226);
    font-style: italic;
    color: #0a48b9;
}
#top {
    font-size: 45px;
    color: #702c2c;
}





